<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search page</title>
</head>
<body>
<div class="content">
    <h1 style="text-align: center"> Search </h1>
    <div class="form">
        <form action="/scrap" method="POST">
            <div><label>Product </label>
            <input type="text" id="content" name="content" ></div>
            <div><label>No of comments</label>
             <input type="text" id="numOfComments" name="numOfComments"></div>
           <div> <input type="submit" value="search"></div>


        </form>

    </div>

</div>

</body>
</html>